<%= form_with(model: dish) do |form| %>
  <% if dish.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label", for: "dish_name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :family, class: "form-label", for: "dish_family" %>
    <%= form.select :family,
      Dish.families.map { |k, v| [Dish.formatted_family(k), k] }, { include_blank: true }, class: 'form-control'  %>
  </div>

  <div class="mb-3">
    <%= form.label :season, class: "form-label", for: "dish_season" %>
    <%= form.select :season, Dish.seasons.map { |k, v| [k.capitalize, k]}, {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :outlet_id, class: "form-label", for: "dish_outlet" %>
    <%= form.select :outlet_id, Outlet.order(id: :asc).map { |outlet| [outlet.name, outlet.id] }, {}, class: "form-control"%>
  </div>

  <div>
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
